<p><%= link_to "Gestion des utilisateurs", admin_users_path, class: "nav-link" %></p>
<p><%= link_to "Gestion des événements", admin_events_path, class: "nav-link" %></p>
<p><%= link_to "Valider les événements", admin_event_submissions_path, class: "nav-link" %></p>

